# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Vite PWA dev service worker output
dev-dist

# Node dependencies
node_modules

# Test artifacts
test-results
playwright-report
blob-report

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
